h1, h2 {
  font-family: $ff-header;
  font-weight: 900;
}

h1 {
  font-size: $base-font-size * 2.5;
  color: $grey;
  margin: 1rem 0 .5rem;
}

h2 {
  font-size: $base-font-size * 1.5;
  color: $grey-lighter;
  margin: .5rem 0;
}

p {
  font-family: $ff-text;
  font-size: $base-font-size;
}